body {
	margin: 0;
//	box-sizing: border-box;
	position: relative;
	background-color: #0D0D0D;
}

html, body  {
height: 100%;
}

* {
  direction: rtl;
  user-select: none;
  margin: 0;
}

html * {
  font-family: 'Miriam Fixed';
}

button
{
    
   
    background-color: #0D0D0D;
    border-width: 1px;
    border-style:solid;
    border-color: white;
    border-radius: 12px;
    padding: 2% 4% 1% 4%;
    color: white;
    font-family: 'Miriam Fixed';
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: .8px;
    cursor: pointer;
}
button:hover
{
    background-color: #787474;

}


h1,p{
  font-family: Miriam Fixed;
  color: #FFFFFF;
}
@font-face {
  font-family: Miriam Fixed;
  src: url(assets/font/MiriamFixed.eot); /* IE9 Compat Modes */
  src: url(assets/font/MiriamFixed.eot) format('embedded-opentype'), /* IE6-IE8 */
       url(assets/font/MiriamFixed.woff2) format('woff2'), /* Super Modern Browsers */
       url(assets/font/MiriamFixed.woff) format('woff'), /* Pretty Modern Browsers */
       url(assets/font/MiriamFixed.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(assets/font/MiriamFixed.svg) format('svg'); /* Legacy iOS */
}