body {
	margin: 0;
//	box-sizing: border-box;
	position: relative;
	background-color: #0D0D0D;
}

html, body {
  height: 100%;
}

* {
  direction: rtl;
  user-select: none;
  margin: 0;
}

html * {
//	font-family: 'Assistant', sans-serif;
}

button {
  appearance: button;
  background-color: #cfd1d2;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  // display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  // margin: 0;
  outline: none;
  // overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}


h1,p{
  font-family: Miriam Fixed;
  color: #FFFFFF;
}
@font-face {
  font-family: Miriam Fixed;
  src: url(assets/font/MiriamFixed.eot); /* IE9 Compat Modes */
  src: url(assets/font/MiriamFixed.eot) format('embedded-opentype'), /* IE6-IE8 */
       url(assets/font/MiriamFixed.woff2) format('woff2'), /* Super Modern Browsers */
       url(assets/font/MiriamFixed.woff) format('woff'), /* Pretty Modern Browsers */
       url(assets/font/MiriamFixed.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(assets/font/MiriamFixed.svg) format('svg'); /* Legacy iOS */
}